
*.h5
intermediate_results/B_CIT-1_S18/abundance.tsv
intermediate_results/B_CIT-1_S18/run_info.json
intermediate_results/B_CIT-2_S19/abundance.tsv
intermediate_results/B_CIT-2_S19/run_info.json
intermediate_results/B_CIT-3_S20/abundance.tsv
intermediate_results/B_CIT-3_S20/run_info.json
intermediate_results/B_CIT-6_S21/abundance.tsv
intermediate_results/B_CIT-6_S21/run_info.json
intermediate_results/B_D10-1_S22/abundance.tsv
intermediate_results/B_D10-1_S22/run_info.json
intermediate_results/B_D10-2_S23/abundance.tsv
intermediate_results/B_D10-2_S23/run_info.json
intermediate_results/B_D10-3_S24/abundance.tsv
intermediate_results/B_D10-3_S24/run_info.json
intermediate_results/B_D10-4_S25/abundance.tsv
intermediate_results/B_D10-4_S25/run_info.json
intermediate_results/B_D10_vs_B_CIT.rnk
intermediate_results/B_D10_vs_B_CIT_DE.tab
intermediate_results/B_S-1_S26/abundance.tsv
intermediate_results/B_S-1_S26/run_info.json
intermediate_results/B_S-2_S27/abundance.tsv
intermediate_results/B_S-2_S27/run_info.json
intermediate_results/B_S-3_S28/abundance.tsv
intermediate_results/B_S-3_S28/run_info.json
intermediate_results/B_S-4_S29/abundance.tsv
intermediate_results/B_S-4_S29/run_info.json
intermediate_results/B_S4-1_S30/abundance.tsv
intermediate_results/B_S4-1_S30/run_info.json
intermediate_results/B_S4-2_S31/abundance.tsv
intermediate_results/B_S4-2_S31/run_info.json
intermediate_results/B_S4-3_S32/abundance.tsv
intermediate_results/B_S4-3_S32/run_info.json
intermediate_results/B_S4-4_S33/abundance.tsv
intermediate_results/B_S4-4_S33/run_info.json
intermediate_results/B_Steen_Glu_vs_B_CIT.rnk
intermediate_results/B_Steen_Glu_vs_B_CIT_DE.tab
intermediate_results/B_Steen_Glu_vs_B_Steen.rnk
intermediate_results/B_Steen_Glu_vs_B_Steen_DE.tab
intermediate_results/B_Steen_vs_B_CIT.rnk
intermediate_results/B_Steen_vs_B_CIT_DE.tab
intermediate_results/H_CIT-1_S34/abundance.tsv
intermediate_results/H_CIT-1_S34/run_info.json
intermediate_results/H_CIT-2_S35/abundance.tsv
intermediate_results/H_CIT-2_S35/run_info.json
intermediate_results/H_CIT-3_S36/abundance.tsv
intermediate_results/H_CIT-3_S36/run_info.json
intermediate_results/H_CIT-4_S37/abundance.tsv
intermediate_results/H_CIT-4_S37/run_info.json
intermediate_results/H_D10-1_S1/abundance.tsv
intermediate_results/H_D10-1_S1/run_info.json
intermediate_results/H_D10-2_S2/abundance.tsv
intermediate_results/H_D10-2_S2/run_info.json
intermediate_results/H_D10-3_S3/abundance.tsv
intermediate_results/H_D10-3_S3/run_info.json
intermediate_results/H_D10-4_S4/abundance.tsv
intermediate_results/H_D10-4_S4/run_info.json
intermediate_results/H_D10_vs_H_CIT.rnk
intermediate_results/H_D10_vs_H_CIT_DE.tab
intermediate_results/H_S-1_S5/abundance.tsv
intermediate_results/H_S-1_S5/run_info.json
intermediate_results/H_S-2_S6/abundance.tsv
intermediate_results/H_S-2_S6/run_info.json
intermediate_results/H_S-3_S7/abundance.tsv
intermediate_results/H_S-3_S7/run_info.json
intermediate_results/H_S-4_S8/abundance.tsv
intermediate_results/H_S-4_S8/run_info.json
intermediate_results/H_S4-1_S9/abundance.tsv
intermediate_results/H_S4-1_S9/run_info.json
intermediate_results/H_S4-2_S10/abundance.tsv
intermediate_results/H_S4-2_S10/run_info.json
intermediate_results/H_S4-3_S11/abundance.tsv
intermediate_results/H_S4-3_S11/run_info.json
intermediate_results/H_S4-4_S12/abundance.tsv
intermediate_results/H_S4-4_S12/run_info.json
intermediate_results/H_Steen_Glu_vs_H_CIT.rnk
intermediate_results/H_Steen_Glu_vs_H_CIT_DE.tab
intermediate_results/H_Steen_Glu_vs_H_Steen.rnk
intermediate_results/H_Steen_Glu_vs_H_Steen_DE.tab
intermediate_results/H_Steen_vs_H_CIT.rnk
intermediate_results/H_Steen_vs_H_CIT_DE.tab
summary.jfif
